:root {
  scroll-behavior: smooth;
}

.AnLi {
  color: #cc99cd;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #282c34;
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #3eaf7c;
  border-radius: 20px;
  box-shadow: inset 0 0 0 #ffffff;
}

pre::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #282c34;
  display: block !important;
}

::selection {
  background: rgb(255 145 0.1);
}

img {
  user-select: none;
}

.green-text {
  color: #3eaf7c !important;
  font-weight: bold;
  font-family: '楷体';
}
