:root {
  scroll-behavior: smooth;
  --content-width: 930px;
  --back-to-top-icon: url(/icon/mouse.svg)
}

.AnLi {
  color: #cc99cd;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #282c34;
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #3eaf7c;
  border-radius: 20px;
  box-shadow: inset 0 0 0 #ffffff;
}

pre::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #282c34;
  display: block !important;
}

::selection {
  background: #807dd4;
}

img {
  user-select: none;
}

.green-text {
  color: #3eaf7c !important;
  font-weight: bold;
  font-family: '楷体';
}

.red-txt {
  color: red;
  border-radius: 5px;
  padding: 0 5px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
  // border: 1px solid #e4e7ed;
  // background-color: #ffffff;
}

.box-iframe {
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(100vh - 3.6rem);
  box-sizing: border-box;
  border: none;
}
