* {
  font-family: "Microsoft YaHei", "Arial", simsun, sans-serif;
}

html {
  height: 100%;
}

body {
  color: #333;
  margin: 0;
  font-size: 9pt;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

a:hover {
  color: #cc00ff;
}

.paste {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

#topWrap,
#ft,
#mainWrap {
  width: 100%;
  margin: 0 auto;
}

#topWrap {
  /* background-color: #6FB934; */
  background-image: linear-gradient(to left, #37052a, #821a35, #bc5121, #ce9b00, #a8eb12);
  width: 100%;
  display: block;
  color: white;
  padding: 10px 5vw;
  box-sizing: border-box;
}

#topWrap .topMenu {
  float: right;
}

#topWrap .topMenu a {
  text-decoration: none;
}

.title {
  font-size: 30px;
}

#topWrap p {
  text-align: left;
  color: #fefefe;
}

.self {
  font-weight: bold;
  text-decoration: none;
  color: #444;
}

.clear {
  clear: both;
  height: 0px;
  font-size: 0px;
  line-height: 0px;
  overflow: hidden;
}

#mainWrap {
  padding: 0 5vw;
  box-sizing: border-box;
}

#mainleft {
  float: left;
  background-color: #fff;
  display: block;
  width: 780px;
}

#mainright {
  width: 199px;
  float: right;
  background-color: #fff;
  display: block;
}

#mainright h2 {
  font-size: 12pt;
  text-align: center;
}

#mainright li {
  line-height: 22px;
}

#infoWrap {
  float: right;
  background-color: #3366cc;
}

a {
  color: #36d;
}

button {
  background: #4899e0;
  font-size: 14px;
  font-weight: bold;
  color: white;
  border: none;
  height: 33px;
  width: 100px;
  padding: 0 18px;
  cursor: pointer;
  margin-right: 12px;
  padding: 0 18px;
}

#pack-script {
  background: #6fb934;
}

p.form-buttons {
  float: left;
}

p.form-buttons button {
  margin-right: 0.2em;
}

td p {
  float: left;
}

#form td #message {
  margin: 0 0 0 0;
  float: right;
}

form {
  padding: 0;
  margin: 0;
}

textarea {
  margin: 0;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

#form textarea {
  clear: both;
  width: 100%;
  min-height: 200px;
  padding: 0 5px;
  font-family: Consolas;
  font-size: 10pt;
}

@media screen and (min-width: 0px) {
  #form td textarea {
    width: 98%;
  }
}

textarea.disabled,
.disabled textarea {
  background-color: #eeeeee;
  border: 1px solid #898e79;
}

*.disabled,
.disabled * {
  color: #898e79 !important;
}

#output {
  background-color: #f9f9f6;
  border: 1px solid #898e79;
}

#controls {
  float: right;
  text-align: right;
}

#controls select {
  font-size: 0.83em;
  vertical-align: top;
}

#message {
  font-size: x-small;
  margin-top: 0.5em;
}

.error {
  color: #aa3333;
}

#form #message {
  margin: 0 0 1em 0;
  float: right;
}

#help {
  float: right;
}

#form p {
  margin: 0;
}

#form p.form-buttons,
#form #controls {
  margin: 6px 0 6px 0;
}

.menu {
  display: none;
}

#disabled {
  font-weight: bold;
  text-align: center;
  display: none;
  color: #000000 !important;
}

.disabled #disabled {
  display: block;
}

#upload-script {
  display: none;
}

p.footnote {
  margin-bottom: 0;
  float: left;
}

#load-script,
#save-script {
  display: none;
}
